<ion-view view-title="Menu">
  <ion-content id="menu">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
      <ion-slide>
         <div>
           <img src="img/1.jpg" class="img-responsive">
         </div>
      </ion-slide>

      <ion-slide>
        <div class="box yellow">
          <img src="img/2.jpg" class="img-responsive">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box pink">
          <img src="img/3.jpg" class="img-responsive">
        </div>
      </ion-slide>
    </ion-slide-box>

  <ion-list>

    <div class="row">
      <div class="col-xs-6">
        <div class="item item-image">
          <img src="img/8.JPG">
        </div>
        <div class="item item-icon-left assertive">
          <p>オムライス</p>
          <p>12345円</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="item item-image">
          <img src="img/5.JPG">
        </div>
        <div class="item item-icon-left assertive">
          <p>aaa</p>
          <p>123</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="item item-image">
          <img src="img/6.JPG">
        </div>
        <div class="item item-icon-left assertive">
          <p>aaa</p>
          <p>123</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="item item-image">
          <img src="img/7.JPG">
        </div>
        <div class="item item-icon-left assertive">
          <p>aaa</p>
          <p>123</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="item item-image">
          <img src="img/13.JPG">
        </div>
        <div class="item item-icon-left assertive">
          <p>aaa</p>
          <p>123</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="item item-image">
          <img src="img/14.JPG">
        </div>
        <div class="item item-icon-left assertive">
          <p>aaa</p>
          <p>123</p>
        </div>
      </div>
    </div>

   </ion-list>
  </ion-content>
</ion-view>



