<ion-view id="user" view-title="user" hide-nav-bar="true">



<ion-content>

<div class="item item-avatar top-bar">
	<img src="img/1.jpg">
	<h2><!-- {{$user.username}} -->taoyage</h2>
</div>

<a class="item item-icon-left item-icon-right" href="#/tab/buyer/capital/point">
	<i class="icon ion-email"></i>
	my point
	<span class="item-note">
     all point
	</span>
	<i class="icon ion-chevron-right icon-accessory"></i>
</a>

<ion-list>
<div class="row text-center">
	<div class="col-xs-3">
		<div><i class="icon ion-home"></i></div>
		<h5>coupon</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-ios-telephone"></i></div>
		<h5>my point</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-star"></i></div>
		<h5>attendance</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-star"></i></div>
		<h5>lesson</h5>
	</div>
</div>	

<div class="row text-center">
	<div class="col-xs-3">
		<div><i class="icon ion-home"></i></div>
		<h5>dictionary</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-ios-telephone"></i></div>
		<h5>calculat</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-star"></i></div>
		<h5>lesson</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-star"></i></div>
		<h5>lesson</h5>
	</div>
</div>	

<div class="row text-center bottom-border">
	<div class="col-xs-3">
		<div><i class="icon ion-home"></i></div>
		<h5>coupon</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-ios-telephone"></i></div>
		<h5>my point</h5>
	</div>
	<div class="col-xs-3">
		<div><i class="icon ion-star"></i></div>
		<h5>lesson</h5>
	</div>
	<div class="col-xs-3">
		
	</div>
</div>

</ion-list>

</ion-content>

</ion-view>
